
body {
    background-color: #dfdfdf;
    font-family: sans-serif;
}

.content {
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    max-width: 50em;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
}

td p {
    margin: 5px;
}
td select, td input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
}
tr.wf {
    border-bottom: 1px solid #afafaf;
}

td.r {
    background-color: red;
    color: white;
}
td.b {
    background-color: black;
    color: white;
}
td.w {
    background-color: white;
}
td.c {
    background-color: lightblue;
}

table table, table table th, table table td {
    border: none;
}
table table td {
    width: 6.5em;
}
div table {
    width: 100%;
}

.header {
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 10em;
    box-sizing: border-box;
}
